!! The default colors are "Gruvbox":
!*.color0: #1d2021
!*.color1: #cc241d
!*.color2: #98971a
!*.color3: #d79921
!*.color4: #458588
!*.color5: #b16286
!*.color6: #689d6a
!*.color7: #a89984
!*.color8: #928374
!*.color9: #fb4934
!*.color10: #b8bb26
!*.color11: #fabd2f
!*.color12: #83a598
!*.color13: #d3869b
!*.color14: #8ec07c
!*.color15: #ebdbb2
!! Transparency (0-255):
*.alpha: 230
!! Set a default font and font size as below:
*.font: Monospace-10;


! -- Pencil -------------------------------------------------------- {{{
!
!   A color scheme inspired by iA Writer
!   <https://github.com/reedes/vim-colors-pencil>
!
! }}}

! -- Colors -------------------------------------------------------- {{{

! Base
*background: #212121
*foreground: #d9d9d9
!*cursorColor: #20bbfc
! Black
*color0: #212121
*color8: #424242
! Red
*color1: #c30771
*color9: #fb007a
! Green
*color2: #10a778
*color10: #5fd7af
! Yellow
*color3: #a89c14
*color11: #f3e430
! Blue
*color4: #008ec4
*color12: #20bbfc
! Magenta
*color5: #523c79
*color13: #6855de
! Cyan
*color6: #20a5ba
*color14: #4fb8cc
! White
*color7: #d9d9d9
*color15: #f1f1f1

! }}}

! vim:foldmethod=marker:filetype=xdefaults

